<section id="weekly">
  <h3>Cycle Times</h3>
  <table class="table">
    <thead>
      <th>Period</th>
      <th>Size</th>
      <th>Average</th>
      <th>Error</th>
      <th>Predictability</th>
    </thead>
    <tr>
      <td>This week</td>
      <td>Small</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Medium</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Large</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td>Last week</td>
      <td>Small</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Medium</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Large</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td>This month</td>
      <td>Small</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Medium</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Large</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td>Last month</td>
      <td>Small</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Medium</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
    <tr>
      <td/>
      <td>Large</td>
      <td>1 day</td>
      <td>1 day</td>
      <td>Poor</td>
    </tr>
  </table>
</section>