<% include header %>
    <div class="container-fluid">
      <div class="hero-unit pagination-centered">
        <h1>Bendy Boards<h1>
        <h2><small>oops! Sorry can't find that page.</small></h2>
      </div>
    </div>
<% include footer %>