<!DOCTYPE html>
<html>
  <head>
    <% include includes/header %>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <section>
      <% include includes/cycle %>
    </section>
  </body>
</html>