<% include header %>
    <div class="container-fluid">
      <div class="hero-unit pagination-centered">
        <h1>Bendy Boards<h1>
        <h2><small>smart dashboards for agile developers</small></h2>
        <a class="btn btn-large btn-primary" href="/signup">Sign up</a>
      </div>
    </div>
<% include footer %>