<!DOCTYPE html>
<html>
  <head>
<% include includes/header %>
  </head>
  <body>
    <section class="hero">
      <header><h1><a href="/">{ <%= title %> }</a></h1></header>

      <h2>Measure</h2>
      <h2>Reflect</h2>
      <h2>Improve</h2>
      <a class="btn btn-large btn-primary" href="/signup">Sign up</a>
     </section>
  </body>
</html>