<% include header %>
<hgroup>
  <h1>Acceleration = Development + Feedback<h1>
  <h2><small>smart dashboards for intelligent developers</small></h2>
  <a class="btn btn-large btn-primary" href="/signup">Sign up</a>
</hgroup>
<% include footer %>