<% include header %>
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <form class="form-horizontal">
            <legend>Create your personal account</legend>
            <div class="control-group">
              <input id="username" type="text" placeholder="Username" autofocus="autofocus">
              <span id="username-help" class="help-text"></span>
            </div>
            <div class="control-group">
              <input id="email" type="text" placeholder="Email">
            </div>
            <div class="control-group">
            <input id="password" type="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary disabled" disabled="disabled">Create an account</button>
          </form>
        </div>
      </div>
    </div>
  <script>

    var setUserNameStatus = function(text, type) {
      $('#username-help').attr('class', 'help-text help-' + type).html(text);
    };

    $(document).ready(function () {

    $('#username').keyup(function () {
      var t = this;
      if (this.value && this.value != this.lastValue) {
        setUserNameStatus('Checking...', 'warning');

        if (this.timer) clearTimeout(this.timer);
        this.timer = setTimeout(function () {
          $.ajax({
            url: '/users/available?name=' + t.value,
            type: 'post',
            success: function (jqr) {
              setUserNameStatus(jqr, 'ok');
            },
            error: function(jqr) {
              setUserNameStatus(jqr.responseText, 'error');
            }
          });
        }, 200);

        this.lastValue = this.value;
      }
    });
    });
  </script>
<% include footer %>