<% include header %>
    <div class="container">
      <div class="row">
        <div class="span12">
          <form>
            <legend>Create your personal account</legend>
            <label>Email Address</label>
            <input id="email" type="text" placeholder="" autofocus="autofocus">
            <label>Password</label>
            <input id="password" type="password" placeholder="">
            <span class="help-block">Must contain one lowercase letter, one number, and be at least 7 characters long.</span>
            <label>Confirm Password</label>
            <input id="confirm"type="password" placeholder="">
            <br/>
            <button type="submit" class="btn btn-primary disabled" disabled="disabled">Create an account</button>
          </form>
        </div>
      </div>
    </div>
<% include footer %>