
header {
  background: url(/img/header.jpg) repeat-x center;
  margin-bottom: 40px;
  padding: 1px;
  -webkit-font-smoothing: antialiased;
}

header > h1 {
  margin-left:80px;
  font-family: 'Lobster', cursive;
}

header > h1 > small{
  font-family: 'Changa One', cursive;
  font-size: 20px;
  color: #222;
  margin-left:20px;
}

.help-text {
  margin-left:10px;
}

.help-error {
  color: #B94A48;
}

.help-warning {
  color: #F89406
}

.help-ok {
  color: #468847
}
